{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <a href="{% url 'product_single' product.pk %}"><div class="card h-100">
                <img src="{{ product.imageURL }}" class="card-img-top" alt="{{ product.product_name }}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">Price: ₹{{ product.price }}</p>
                    <p class="card-text">Provided by: {{ product.user.username }}</p>
                    {% if request.user.is_customer %}
                    <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-primary text-white">Add to cart</a>
                    {% else %}

                    {% endif %}
                </div>
            </div></a>
        </div>
        {% endfor %}
    </div>
</div>





<br>
<br>
{% endblock %}
